.header {
  font-family: 'txtMedium';
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}
.tagsSetHeader {
  font-family: 'txt';
  font-size: 16px;
  margin-bottom: 10px;
}
.popularTagsContainer {
  margin-bottom: 20px;
}
.tags {
  padding: 6px 10px;
  margin: 5px 5px 0 0;
  border-radius: 15px;
  border: 1px solid black;
}

.tagsContainer {
  flex-direction: row;
  flex-wrap: wrap;
}
.modalActivator {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 13px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px black;
}
.modalContentContainer {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.458);
  padding: 70px 20px;
}
.modalContentWrapper {
  width: 100%;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.modalHeaderWrapper {
  flex-direction: row;
  justify-content: space-between;
}
.modalHeader {
  align-self: flex-start;
  font-family: 'txtMedium';
  font-size: 20px;
  margin-bottom: 10px;
}
.label {
  font-family: 'txt';
}
.tagListItemBtn {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}
.tagListItemTxt {
  font-family: 'txtMedium';
  font-size: 15px;
}
