.btnSearch {
  margin-top: 40px;
  width: 100%;
  align-self: center;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
}
.text {
  color: white;
  font-family: 'txtMedium';
}
