.imageBackground {
  flex: 1;
  margin-bottom: 70px;
}
.mainContainer {
  flex: 1;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.title {
  position: absolute;
  top: 40px;
  left: 30px;
  font-family: 'heading';
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
}
