.mainContainer {
  flex: 1;
  align-self: center;
  position: absolute;
  z-index: 1;
}

.title {
  position: absolute;
  top: 40px;
  left: 30px;
  font-family: 'heading';
  font-size: 40px;
  color: white;
}
