.mainContainer {
  flex: 1;
  padding: 20px;
}
.tripCardContainer {
  margin-right: 20px;
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
}
.tripCardheart {
  padding: 20px;
}
.tripCardCountry {
  padding: 20px;
}
.tripCardTitle {
  justify-self: flex-start;
  font-size: 27px;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.tripCardDate {
  max-width: 150px;
  font-size: 16px;
  padding: 0 0 20px 20px;
}
.tripCardPrice {
  font-size: 16px;
  padding: 0 20px 20px 0;
}
.calendarContainer {
  padding-bottom: 20px;
}
.header {
  margin-top: 35px;
  margin-bottom: 0px;
  width: 100%;
  height: 30%;
  flex: 1;
  flex-direction: column;
}

.title {
  font-family: 'heading';
  font-size: 3rem;
  margin-bottom: 0px;
  line-height: 50px;
  padding-top: 10px;
}

.numberTripsBtnsContainer {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 30px 10px;
}
.numberTripsBtnsWrapper {
  flex-direction: row;
}
.numberTripsBtnsLabel {
  font-size: 16px;
  font-family: 'txtMedium';
}
.numberTripsBtnTxt {
  font-size: 16px;
  font-family: 'txt';
}
.countButton {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border: solid 1px black;
  align-items: center;
  justify-content: center;
}
.numberTripsValue {
  font-family: 'txt';
  font-size: 16px;
}
.textArea {
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
  font-size: 16px;
  padding: 10px;
  font-family: 'txt';
}

.modal {
  padding-top: 10;
  padding-bottom: 10;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400;
  align-items: center;
}
.modalText {
  font-family: 'txt';
  font-size: 14;
  color: red;
  width: 300;
}

.buttonConfirm {
  margin-top: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 50px;
  font-size: 20px;
}
.confirmBtnTxt {
  color: white;
  font-family: 'txtMedium';
  font-size: 16px;
}
