.mainContainer {
  padding: 15px;
}
.header {
  margin-top: 35;
  margin-bottom: 10;
  width: 100%;
  height: 30%;
  flex: 1;
  flex-direction: column;
}

.title {
  font-family: 'heading';
  font-size: 3rem;
  margin-bottom: 10px;
}

.border {
  border-bottom-color: black;
  border-bottom-width: 2px;
  width: 100%;
  margin-top: 15px;
}

.highlightContainer {
  flex: 1;
  margin-bottom: 25px;
}
.highlightHeader {
  margin: 10px;
  font-family: 'txt';
  font-size: 16px;
}
.highlightWrapper {
  flex-direction: row;
}
.highlightImg {
  border-radius: 15px;
  width: 130px;
  height: 100%;
  margin-right: auto;
}
.imageLayer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.058);
  border-radius: 15px;
}
.highlightInfoContainer {
  max-width: 180;
}
.highlightTitle {
  font-family: 'heading';
  font-size: 20px;
  margin-bottom: 10px;
}
.highlightDates {
  font-family: 'txt';
  margin-bottom: 5px;
}
.highlightDescription {
  font-family: 'txt';
}

.tripsHeader {
  font-family: 'txt';
  margin-bottom: 10px;
  font-size: 16px;
}

.tripCardContainer {
  margin-right: 20px;
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
}
.tripCardheart {
  padding: 20px;
}
.tripCardCountry {
  padding: 20px;
}
.tripCardTitle {
  justify-self: flex-start;
  font-size: 27px;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.tripCardDate {
  max-width: 150px;
  font-size: 16px;
  padding: 0 0 20px 20px;
}
.tripCardPrice {
  font-size: 16px;
  padding: 0 20px 20px 0;
}
