.header {
  font-family: 'txtMedium';
  font-size: 20px;
  margin-bottom: 10px;
}

.calendarContainer {
  width: 100%;
  align-self: center;
  margin-bottom: 30px;
}
.valuesContainer {
  flex-direction: row;
  margin-bottom: 15px;
}
.boldValue {
  font-family: 'txtMedium';
}
.firstDate {
  margin-right: 20px;
}
.dateValue {
  font-family: 'txt';
}
.durationValue {
  font-family: 'txt';
  margin-bottom: 10px;
}
