.resultsCounterAndFilterIconContainer {
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: flex-end;
}
.filterBtn {
  padding: 5px;
  padding-right: 0;
}
.text {
  font-family: 'txt';
}
