.mainContainer {
  flex: 1;
  align-items: center;
  padding: 20px 30px;
}
.header {
  margin-top: 40px;
  flex-direction: row;
  width: 100%;
}
.logoutBtn {
  padding-left: 10px;
  align-items: center;
  justify-content: center;
}

.texts {
  font-family: 'txt';
  flex-direction: row;

  align-content: center;
  justify-content: center;
}
.textButton {
  font-family: 'txt';
  font-size: 16;
  color: whitesmoke;
}
.textLogOut {
  font-family: 'txt';
  font-size: 16;
  color: #c46b4d;
}

.border {
  border-bottom-color: black;
  border-bottom-width: 1px;
  width: 80%;
  background-color: pink;
  height: 1px;
  margin-top: 80px;
  align-self: center;
}

.logoutBtnTxt {
  font-family: 'txt';
  font-size: 16px;
}
.username {
  font-family: 'heading';
  font-size: 40px;
  margin-right: auto;
}
.photoContainer {
  flex-direction: column;
  margin: 50px 0 30px 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.photo {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  aspect-ratio: 1;
}
.imageEdit {
  position: absolute;
}
.emailWrapper,
.birthDateWrapper,
.countryWrapper {
  flex-direction: row;
  align-items: center;
  padding: 1px;
  width: 100%;
}
.userInfo {
  width: 100%;
}
.editBtn {
  width: 40;
  justify-self: flex-end;
  align-items: flex-end;
}

.pencil {
  margin: 10px 0;
  width: 20px;
  height: 20px;
  fill: black;
}
.email {
  font-family: 'txt';
  font-size: 18px;
  margin-right: auto;
}
.birthDate {
  font-family: 'txt';
  font-size: 18px;
  margin-right: auto;
}
.country {
  font-family: 'txt';
  font-size: 18px;
  margin-right: auto;
}
.textInput {
  border-bottom-width: 1px;
  width: 90%;
}
.documentBtn {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: auto;
  margin-bottom: 20px;
  border-radius: 25px;
  background-color: #c46b4d;
}
.documentBtnTxt {
  font-family: 'txt';
  font-size: 16px;
  color: white;
}
