.mainContainer {
  flex: 1;
  padding: 45px 0 70px 15px;
}
.header {
  font-family: 'heading';
  font-size: 50px;
}
.border {
  border-bottom-color: black;
  border-bottom-width: 2px;
  width: 85%;
  height: 1px;
  margin-left: 5;
}
.sousHeaderContainer {
  margin-bottom: 10px;
}
.sousHeader {
  flex-direction: row;
  margin: 15px 0px 5px 12px;
}

.smallTitle {
  font-family: 'txt';
  font-size: 20;
  margin-bottom: 5;
  margin-left: 12;
}
.scrollContainer {
  width: 100%;
  height: 400px;
}

.tripCardContainer {
  margin-right: 15px;
  width: 250px;
  height: 100%;
}
.tripCardheart {
  padding: 15px;
}
.tripCardCountry {
  padding: 15px;
}
.tripCardTitle {
  justify-self: flex-start;
  font-size: 19px;
  max-width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
.tripCardDate {
  max-width: 100px;
  font-size: 12px;
  padding: 0 0 15px 15px;
}
.tripCardPrice {
  font-size: 12px;
  padding: 0 15px 15px 0;
}
