.container {
  border-radius: 15px;
  margin-top: auto;
  align-self: center;
  background-color: #ffffff94;
  width: 100%;
  max-width: 100%;
  height: 190px;
  padding: 20px;
}
.country {
  color: black;
  font-family: 'txtMedium';
  margin-right: auto;
  margin-bottom: 10px;
}
.title {
  font-family: 'heading';
  color: black;
  font-size: 30px;
}
.bottomInfo {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
}
.days {
  color: black;
  font-family: 'txtMedium';
  padding-right: 20px;
}
.price {
  color: black;
  font-family: 'txtMedium';
}
.boldText {
  color: black;
  font-family: 'txtBold';
}
