.mainContainer {
  flex: 1;
  padding: 40px 15px 0 15px;
}

.header {
  font-family: 'heading';
}

.text {
  font-family: 'txt';
}

.border {
  border-bottom-color: black;
  border-bottom-width: 2px;
  width: 100%;
  height: 1px;
  align-self: center;
}

.tripCardContainer {
  margin-right: 20px;
  width: 100%;
  height: 230px;
  margin-bottom: 15px;
}
.tripCardheart {
  padding: 20px;
}
.tripCardCountry {
  padding: 20px;
}
.tripCardTitle {
  justify-self: flex-start;
  font-size: 27px;
  max-width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
.tripCardDate {
  max-width: 150px;
  font-size: 16px;
  padding: 0 0 20px 20px;
}
.tripCardPrice {
  font-size: 16px;
  padding: 0 20px 20px 0;
}

/*--------------------------------------------- MODAL -----------------------------------------*/

.modal {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 18%;
  padding: 20px;
}

.filterText {
  font-family: 'txt';
  font-size: 18px;
  margin-bottom: 5;
}

/*--------------- BUTTONS -------------*/

.button {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
}
.text {
  font-family: 'txt';
}
